@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('https://editorial.uefa.com/resources/0271-143eb8578b50-8ef5cb1aa6cc-1000/uefa_champions_league_real_madrid_v_liverpool_fc_.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    background-color: red;
}

